/* Remember, 16px base font size and 20px vertical measure */

body {
	background: #353535 url(../img/bg_pattern_zebra.png);
}

nav {
	position: fixed;
	padding: 0.5em;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

	nav a {
		outline: none;
	}

nav:hover {
	background-color: white;
}

nav#index {
	top: 2em;
	right: -0.6em;
}

nav#next {
	top: 80%;
	right: 2em;
}

nav#previous {
	top: 8em;
	left: 2em;
}

nav#page-up {
	display: none;
}

nav#page-down {
	bottom: 0;
	right: 0;
}

	nav a {
		color: black;
		text-decoration: none;
	}

	nav#index a {
			text-indent: -5000px;
			width: 150px;
			height: 52px;
			margin: 1em 2em 1em 1em;
			display: block;
			background: transparent url("../img/occupied-studies_logo_sm.png") no-repeat scroll 0 0 ;
	}

	nav div {
		text-align: center;
		font-style: italic;
		color: #555;
	}

article {
	position: relative;
	width: 33em;
	margin: 0 auto;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1em;
	-webkit-box-shadow: 0px 0px 5px 2px #333;
	-moz-box-shadow: 0px 0px 5px 2px #333;
	box-shadow: 0px 0px 5px 2px #333;
	z-index: 1;
}

	article nav {
		position: relative;
		background: transparent;
	}

	article nav:hover {
		background: transparent;
	}

		article nav ul {
			list-style-type: none;
			margin: 1em 0;
			overflow: auto;
			padding: 0;
		}

			article nav ul li {
				width: 70%;
				margin: 1em 0;
				text-align: center;
			}

			article nav ul li.next {
				float:right;
			}

	article header {
		margin: 0 0 2.5em -1em;
		background: transparent none no-repeat scroll 0 5em;
		width: 35em;
		height: 30em; /* 480px @ default font size */
		padding-top: 1.25em;
		position: relative;
	}

		article header h1 {
			position: absolute;
			background-color: black;
			color: white;
			padding: 0.25em 0.5em;
			width: 480px;
			z-index: 2;
			margin: 0;
			left: -1em;
		}

		article header h2 {
			position: absolute;
			bottom: -1em;
			right: -1em;
			background-color: rgb(255,255,255);
			background-color: rgba(255,255,255,0.9);
			font-size: 1.6em;
			color: black;
			font-family: 'HelveticaCE35ThinRegular';
			width: 14em;
			text-align: left;
			padding: 0.5em;
			z-index: 1;
		}

		article header h2.wide {
			font-size: 1.3em;
			width: 21em;
			margin-top: 12.7em;
		}

		article header span#extra-copyright {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0.75em;
			background-color: white;
			background-color: rgba(128, 128, 128, 0.8);
			font-size: 0.6em;
		}

			article header span#extra-copyright a {
				color: black;
			}

	article p {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		text-align: justify;
		text-justify: distribute;
	}

	article p.author {
		font-style: italic;
		text-align: right;
	}

		article p.author a {
			color: black;
		}

	article p.author + p:first-letter {
		font-size: 3em;
		float: left;
		font-family: 'HelveticaCE35ThinRegular';
		margin: 0.05em 0.05em 0 0;
		line-height: 0.8em;
	}

	article > ol > li, article > ul > li {
		text-align: justify;
		text-justify: distribute;
	}
	
	article > hr {
		color: #555;
		text-align: center;
	}

	article > hr:before {
		content: "\2767"; 
		font-family: 'DejaVuSansBook';
	}

	article p#strapline {
		overflow: auto;
		margin: 0;
	}

		article p#strapline img#profile {
			float: left;
			margin-right: 1em;
			width: 92px;
		}

	article p.licence {
		margin-bottom: -16px;
		padding: 0.5em 1em;
		color: #CBCBCB;
		width: 44.7em;
		margin-left: -16px;
		background-color: #252525;
		font-size: 0.75em;
	}

		article p.licence a.cc-by-nc-sa,
		article p.licence a.cc-by-nc-nd,
		article p.licence a.cc-by-nc,
		article p.licence a.cc-by {
			background: transparent none no-repeat scroll;
			text-indent: -9999px;
			display: inline-block;
			width: 80px;
			height: 20px;
			vertical-align: middle;
		}

		article p.licence a.cc-by-nc-sa {
			background-image: url(../img/cc-by-nc-sa.gif);
		}

		article p.licence a.cc-by-nc-nd {
			background-image: url(../img/cc-by-nc-nd.gif);
		}

		article p.licence a.cc-by-nc {
			background-image: url(../img/cc-by-nc.gif);
			width: 60px;
		}

		article p.licence a.cc-by {
			background-image: url(../img/cc-by.gif);
			width: 40px;
		}

		article p.licence span.photo {
			float: right;
		}

		article p.licence a {
			color: #CBCBCB;
			outline: none;
		}

	article h3 {
		font-family: 'HelveticaCE35ThinRegular';
	}

	article blockquote.pull {
		width: 40%;
		float: right;
		margin-right: 0.5em;
		margin-left: 2.2em;
		font-size: 125%;
		position: relative;
	}

	article blockquote.pull:before {
		content: "\201C";
		position: absolute;
		top: -0.45em;
		left: -0.45em;
		font-size: 4em;
		color: #777;
		font-family: "Verdana";
	}
	article blockquote.pull:after {
		content: "\201D";
		position: absolute;
		right: 0;
		font-size: 4em;
		color: #777;
		font-family: "Verdana";
	}

	article div.footnote {
		font-size: 0.75em;
		line-height: 1.66; /* 20px */
	}

		article div.footnote hr {
			height: 0;
		}

		article div.footnote p {
			line-height: inherit;
			margin: 0.84em 0;
		}

/* mainly for "about" page */
article dt {
	font-weight: bold;
}

article dd {
	margin-left: 2em;
}

	article dd ol {
		padding: 0;
	}
