@font-face {
	font-family: 'DejaVuSansBook';
	src: url('../fnt/dejavusans-webfont.eot');
	src: url('../fnt/dejavusans-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fnt/dejavusans-webfont.woff') format('woff'),
		url('../fnt/dejavusans-webfont.ttf') format('truetype'),
		url('../fnt/dejavusans-webfont.svg#DejaVuSansBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* web font: Helvetica Neue CE 35 Thin */
@font-face {
	font-family: 'HelveticaCE35ThinRegular';
	src: url('../fnt/helvetica_neue_ce_35_thin-webfont.eot');
	src: url('../fnt/helvetica_neue_ce_35_thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fnt/helvetica_neue_ce_35_thin-webfont.woff') format('woff'),
		url('../fnt/helvetica_neue_ce_35_thin-webfont.ttf') format('truetype'),
		url('../fnt/helvetica_neue_ce_35_thin-webfont.svg#HelveticaCE35ThinRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* web font: Adobe Garamond Regular Small Caps */
@font-face {
	font-family: 'AGaramondRegularSCRegular';
	src: url('../fnt/adobe_garamond_small_caps__oldstyle_figures-webfont.eot');
	src: url('../fnt/adobe_garamond_small_caps__oldstyle_figures-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fnt/adobe_garamond_small_caps__oldstyle_figures-webfont.woff') format('woff'),
		url('../fnt/adobe_garamond_small_caps__oldstyle_figures-webfont.ttf') format('truetype'),
		url('../fnt/adobe_garamond_small_caps__oldstyle_figures-webfont.svg#AGaramondRegularSCRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* web font: Adobe Garamond Pro */
@font-face {
	font-family: 'AdobeGaramondProRegular';
	src: url('../fnt/agaramondpro-regular-webfont.eot');
	src: url('../fnt/agaramondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fnt/agaramondpro-regular-webfont.woff') format('woff'),
		url('../fnt/agaramondpro-regular-webfont.ttf') format('truetype'),
		url('../fnt/agaramondpro-regular-webfont.svg#AdobeGaramondProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* help for FF 3.6 */
article, footer, header {
	display: block;
}

/* global style definitions */
html {
	font-size: 16px;
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
}

	html body {
		margin: 0;
	}

p {
	line-height: 1.25; /* 20px vertical measure */
	margin: 1.25em 0;
}

h1, h2, h3, h4 {
	font-family: 'AGaramondRegularSCRegular', 'Helvetica', 'Arial', sans-serif;
}

h2 {
	text-align: center;
	font-size: 4em;
	margin: 0;
}

/* page structure hierarchy */
div#index,
div#strategy,
div#culture,
div#history,
div#education,
div#struggle {
	width: 100%;
	padding: 60px 0;
	position: relative;
	height: 745px;
}

p.top,
p.next {
	background-color: #454545;
	margin: 0;
	padding: 1em;
}


	p.next a,
	p.top a {
		color: #ababab;
		text-decoration: none;
	}

p.top {
	position: absolute;
	top: 0;
	right: 10em;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

p.next {
	position: absolute;
	bottom: 0;
	left: 10em;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

blockquote.preamble {
	width: 65%;
	margin: 0.75em auto;
	font-family: 'HelveticaCE35ThinRegular', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.25em;
	text-align: justify;
	text-justify: distribute;
}

	blockquote.preamble span {
		display: block;
		text-indent: 30em;
		font-style: italic;
	}

hr {
	background: transparent none no-repeat center center;
	height: 30px;
	border-width: 0;
}

	hr.lock {
		background-image: url(../img/hr_dlock.png);
	}

	hr.gear {
		background-image: url(../img/hr_gears_black.png);
	}

div.article {
	width: 630px;
	margin: 2.5em auto;
	font-family: 'AdobeGaramondProRegular';
	overflow: auto;
	padding: 10px;
}

	div.article img {
		-webkit-box-shadow: 2px 2px 5px 2px #333;
		-moz-box-shadow: 2px 2px 5px 2px #333;
		box-shadow: 2px 2px 5px 2px #333;
		float: left;
		margin: 0 1em 0 0;
	}

	div.article.right img {
		float: right;
		margin-left: 1em;
	}

	div.article h3 {
		font-family: inherit;
		font-size: 32px;
		padding: 0.25em 0 0 0;
		margin: 0;
	}

		div.article h3 a {
			color: inherit;
			text-decoration: none;
		}

	div.article p.byline {
		margin: 0 0 0.6em 0;
		font-size: 18px;
	}

	div.article p.byline + p {
		margin-top: 0;
		text-align: justify;
		text-justify: distribute;
	}

	div.article p.read_more {
		float: right;
		margin: -0.625em 0 0 0;
		padding-right: 1em;
	}


		div.article p.read_more a {
			color: inherit;
			text-decoration: none;
		}

div#index {
	height: 745px;
	-webkit-box-shadow: 0px 0px 5px 2px #333;
	-moz-box-shadow: 0px 0px 5px 2px #333;
	box-shadow: 0px 0px 5px 2px #333;
	z-index: 2;
}
	div#index ol {
	}

		div#index ol li {
			position: absolute;
			font-family: 'HelveticaCE35ThinRegular', 'Helvetica', 'Arial', sans-serif;
			font-size: 1.5em;
			-webkit-transition: color 0.2s ease;
			-moz-transition: color 0.2s ease;
			-o-transition: color 0.2s ease;
			transition: color 0.2s ease;
		}

		div#index ol li:hover {
			color: #4a1213;
		}

			div#index ol li#nav_strategy {
				top: 30%;
				left: 20%;
			}

			div#index ol li#nav_culture {
				top: 34%;
				left: 20%;
			}

			div#index ol li#nav_history {
				top: 38%;
				left: 20%;
			}

			div#index ol li#nav_education {
				top: 70%;
				left: 76%;
			}

			div#index ol li#nav_struggle {
				top: 74%;
				left: 76%;
			}

			div#index ol li#nav_about {
				top: 78%;
				left: 76%;
			}

			div#index ol li a {
				color: black;
				text-decoration: none;
				outline: none;
				-webkit-transition: color 0.2s ease;
				-moz-transition: color 0.2s ease;
				-o-transition: color 0.2s ease;
				transition: color 0.2s ease;
			}

			div#index ol li a:hover {
				color: #4a1213;
			}

	div#index h1 {
		width: 384px;
		height: 133px;
		/* Set background image and hide text content */
		background: transparent url(../img/occupied-studies_logo.png) no-repeat;
		text-indent: -9999px;
		/* Centre horizontally and vertically */
		position: relative;
		top: 50%;
		left: 50%;
		margin: -43px 0 0 -124px;
	}

	div#index p#copyright {
		position: absolute;
		top: 100%;
		left: 2em;
		margin-top: -2.5em;
		font-family: 'HelveticaCE35ThinRegular', 'Helvetica', 'Arial', sans-serif;
		font-size: 0.75em;
	}

		div#index p#copyright a {
			color: black;
		}

div#strategy {
	background-color: #a32729;
	color: white;
	height: 745px;
	background: #A32729 url(../img/bg_pattern_floral.png);
}

div#culture {
	height: 745px;
	background: transparent url(../img/bg_bull_ropes.png) no-repeat scroll bottom right;
	-webkit-box-shadow: 0px 0px 5px 2px #333;
	-moz-box-shadow: 0px 0px 5px 2px #333;
	box-shadow: 0px 0px 5px 2px #333;
	z-index: 2;
}

	div#culture div.article {
		position: absolute;
		width: 700px;
	}

	div#culture div.article {
		top: 20%;
		left: 35%;
	}

	div#culture hr {
		position: absolute;
		top: 52%;
		left: 50%;
		width: 568px;
		margin: 0 0 0 -284px;
	}

	div#culture div.article.right {
		top: 55%;
		left: 10%;
	}

			div#culture div.article p.read_more a {
			}

div#history {
	background: #353535 url(../img/bg_pattern_zebra.png);
	color: white;
	-webkit-box-shadow: 0px 0px 5px 2px #333;
	-moz-box-shadow: 0px 0px 5px 2px #333;
	box-shadow: 0px 0px 5px 2px #333;
	z-index: 2;
}

	div#history h2 {
	}

	div#history img#timeline {
		position: absolute;
		top: 19%;
		left: 9%;
	}

	div#history  div.article {
		position: absolute;
		left: 48%;
		top: 68%;
	}

	div#history div.article.first {
		top: 52%;
		left: 48%;
	}

		div#history div.article img {
			-webkit-box-shadow: 2px 2px 5px 2px #111;
			-moz-box-shadow: 2px 2px 5px 2px #111;
			box-shadow: 2px 2px 5px 2px #111;
		}

div#education {
	color: #252525;
	height: 745px;
	background: #cbcbcb url(../img/bg_repetitive-beats.png) no-repeat scroll 50% 54%;
}

	div#education div.article {
		width: 670px;
		margin: 1.25em auto 1.25em auto;
	}

	div#education div.article.right {
		margin-top: 210px;
	}

div#struggle {
	-webkit-box-shadow: 0px 0px 5px 2px #333;
	-moz-box-shadow: 0px 0px 5px 2px #333;
	box-shadow: 0px 0px 5px 2px #333;
}

	div#struggle div.article {
		overflow: visible;
	}
	
		div#struggle div.article h3 {
			white-space: nowrap;
		}

footer {
	z-index: 0;
	background: #A32729 url(../img/bg_pattern_floral.png);
	color: white;
	font-family: 'AdobeGaramondProRegular';
	overflow: auto;
	-webkit-box-shadow: inset 0px 0px 5px 2px #333;
	-moz-box-shadow: inset 0px 0px 5px 2px #333;
	box-shadow: inset 0px 0px 5px 2px #333;
}

	footer h2 {
		font-size: 1.5em;
		text-align: left;
		width: 900px;
		margin: 5px auto 0.83em auto; /* 5px top margin to account for #bodies drop shadow */
		padding-top: 1em;
	}

	footer p {
		width: 900px;
		margin: 1.25em auto;
	}

	footer p a {
		color: inherit;
	}

	footer ul {
		width: 900px;
		margin: -0.625em auto 0.625em auto;
		padding-left: 1em;
		list-style-type: none;
	}

		footer ul li {
			height: 1.5em;
		}

		footer ul li:before {
			content: "\2767"; 
			padding-right: 1em;
			font-family: 'DejaVuSansBook';
		}

			footer ul li a {
				color: white;
			}

	footer nav#social_media {
		width: 900px;
		margin: -0.625em auto 0.625em auto;
		background: none;
		position: relative;
		padding: 0;
	}

		footer nav#social_media a {
			float: right;
		}

		footer nav#social_media a {
			height: 38px;
			width: 38px;
			display: block;
			text-indent: -9999px;
			background: transparent none no-repeat scroll 0 0;
			outline: none;
			margin-left: 0.5em;
		}

		footer nav#social_media a:hover {
			background-position: 0 -32px;
		}

		footer nav#social_media a#tumblr {
			background-image: url(../img/icons/tumblr.png);
		}

		footer nav#social_media a#facebook {
			background-image: url(../img/icons/facebook.png);
		}

		footer nav#social_media a#twitter {
			background-image: url(../img/icons/twitter.png);
		}
