---
title: As Odious as the Word Occupy
author: Sophie Lewis
organisation: The University of Oxford
description: Provoked by an instance of transphobic-feminist logic, Sophie Lewis problematizes the middle-class euphoria over the highly polyvalent concept of 'occupation', pointing to gendered and postcolonial tensions around its deployment by the OWS movement.
image: profit_healthcare.jpg
image_credit: Main photo <a href='http://rachel-eisley.com'>Rachel Eisley</a>
image_licence: © 2011
created: !!timestamp 2012-02-29 00:00:00
tags:
    - struggle
---
{% block post %}
Come, let us riff upon the multifarious functions of the word-of-the-moment. If
the sheer overdetermination of the euphoric call to 'occupy' things didn't
already make many of us want to shoot ourselves in the face, we would probably
be exclaiming "occupy the imperative verb 'occupy'"! But we would hardly be the
first to do this, not by about four hundred years. In the second part of *King
Henry IV*, written in the late 1590s, Mistress 'Doll' Tearsheet is busy
emasculating a jumped-up, swaggering, womanizing phony who calls himself
'Captain Pistol' when she exclaims: 

> "*A captain! God's light, these villains will make the word as odious as the
> word 'occupy'; which was an excellent good word before it was ill-sorted.*"

The message is clear, isn't it? Banish the pistols and occupy 'occupy'. It is
for the sake of propriety that Doll means to excoriate the macho tendency of her
time (and place) to imbue everyday terminology with bawdy innuendo (I'll spell
it out: to 'occupy' a person had come to mean to 'possess' them sexually). Her
expostulation contains a cheery objection to the privilege inherent in the kind
of subjectivity than can make jokes which trick less powerful speakers into
vulnerable situations inadvertently. You know, like the nastier 'that's what she
said' jokes. In short, like almost all characters in Shakespeare, Doll prompts
us to think about the politics of words. So, what makes -- and breaks -- the
word 'occupy' as an 'excellent good word'? Captain Pistol's particular, and very
much enduring, sense of the term (witness the common graffito 'Occupy my Cock')
notwithstanding, the global explosion of the hashtag #OCCUPY has represented to
millions of people the word's accession to the very opposite of odiousness. This
article proposes that a star-cross'd fate still haunts the idea of 'occupation'
if its definition is not collectively scrutinized, problematized, and cherished
by those devoted to championing a revolutionary politics with the "O" word at its
core.

The constituent claim of 'the ninety-nine per cent' is, if you parse it
critically, universality. Yes, of course, it does seem to leave out *one* part
from the round totality of the *demos*, but that part is corporate (Bankers Inc)
by nature, and can hardly to be imagined as composed of persons' bodies.  Further,
the foundationalist fantasy discernible in OWS, whereby core principles
(equality! &hellip; of *opportunity*) shall be *restored*, necessitates a narrative
whereby the predatory and uncontrollable Corporation erupted arbitrarily out of
history in order to blight the American Dream, a clutch of be-suited fat-cats
feeding from its teat. When Marx said in *Capital volume I* that "all this
[exploitation] does not depend on the good or will of the individual capitalist"
he was actually trying to ward *against* a moral approach to social
transformation. Today, regrettably, the plutocratic sliver at the top of the
heap is, according to a prevalent Occupite world-view, composed of 'greed'
rather than individual capitalists. In this way, the the liberal anti-politics
machine renders the antagonism less distressing. 

I remember (reluctantly) that it was possible for some white people on Zuccotti
Park to sustain, relatively intact, their fanatical admiration for Steve Jobs
upon the occasion of his saintly demise. A quote from Jobs even adorned the odd
protest sign. So, capitalism recuperates *all kinds* of resistance to it.
Witness the slip from occupying Wall Street to occupying the prerequisite
discursive position within empire. How best, then, to understand the slippage
of association, back and forth, between the 'occupy' of fightback, resistance,
and communization, and the 'occupy' of conformity, let alone the 'occupy' of
indigenous territory, of colonization, primitive accumulation, forced
governance, containment, and repression? What is to be done, when one word
calls up nobility and brutality in equal measure, summoning at once [images of
wind-turbine manufacturing workers standing strong on the
balcony](http://savevestas.wordpress.com), and American check-points at
road-blocks throughout Baghdad?  

We embrace quiescence if we allow the complicated polyvalency of this
'excellent good word' to explode into ironic ubiquity. Even a call for
something to be *really* occupied -- seized as collective property, wrested
from private ownership, claimed through the power of bodies in alliance, and
controlled collectively -- can, on occasion, cause offence. First Nations
comrades have made their case at general assemblies, with the by now well-known
result "Unoccupy Albuquerque". In Albuquerque, New Mexican Native American
activists were hoping the movement would be called "Decolonize" rather than the
clumsy "Unoccupy".[^1] Unfortunately, in Portland, the term "Unoccupy" is now
attached to the group of anti-OWS people who march around with signs demanding
that the wishy-washy, incoherent 'Occupiers' go away and stop "making the city
unsafe".[^2] 

### Recolonize decolonization? ###

Just forty years ago, the American Indian Movement was reclaiming islands
(Alcatraz), government offices (the Bureau of Indian Affairs) and whole towns
(Wounded Knee, South Dakota) in a slew of sometimes armed actions that have
frequently been referred to, then and now, as "occupations".[^3] The Alcatraz
occupation offered the Federal government $24 in trade goods (which included,
specifically, glass beads and cloth) in exchange for the rock, acknowledging
that land prices had gone up. $1.24 per acre was the an adjusted rate in
relation to the sale of Manhattan at 47 cents per acre "three hundred years
ago".[^4] The Indian Government there promised to establish a Bureau for
Caucasian Affairs and to deal fairly and honorably with the white man.
Nevertheless, Nixon mandated the FBI and portions of the army to clear Alcatraz
of its Indian 'occupiers' in 1973. The AIM seizure of the replica Mayflower at
Plymouth Rock has contributed, too, to the tradition of UnThanksgiving (you
know, for genocide). Those whose territories have been expropriated and
subjected to actual and militarized occupation can, obviously, take or leave
concerns about the word 'occupy'. Any existing concerns of theirs must,
however, come first. By contrast, I'm not convinced of Paul D'Amato's fear that
we "concede the word 'occupy' to the 1 per cent".[^5] "Concede"?!

As my sub-heading should suggest, there is a danger that the mainstream and
white adoption of 'decolonization' discourses -- pioneered in self-defence by
indigenous people -- becomes a form of 'recolonization'. This does not have to
be the case between divers groups fighting all forms of oppression as one.
Let's consider what the white-dominated bourgeois cosmopolitan social media
spectacular has generally been doing with the word 'occupy'. 'Occupy
Christmas', 'Occupy Sesame Street', and so on, amidst a constant stream of
probably-inescapable jokes about occupied lavatories. With the spectrum of
activist courage running the gamut from mere deployments of the vacuous hashtag
\#occupyyourmind, to the 'Occupy Your Homes' blockade of foreclosure auctions by
working-class African Americans, it became clear that much could be diminished
by identifying rhetorical clicktivism with concrete struggle. The low point
was, doubtless, the advertizing campaign by Best Buy, 'Occupy Best Buy', in
which marketing executives dreamt up a way to transmogrify a largely poor,
Black demographic into 'the movement to get the best deals on Black
Friday'.[^6] Or perhaps it was Jay-Z's Occupy T-shirts.[^7] No, it was probably
Best Buy. O, America, graveyard of irony&hellip;

From the stock-house of the recent 'Shit People Say' meme, I came across ['Shit
White Activists Say to Activists of
Color'](http://www.youtube.com/watch?v=oxul87j24Vg) and ['Shit People Say to
Native Americans'](http://vimeo.com/35734345), both of which are good
(although the latter is the initiative of a blonde person) on the
micro-aggression of liberal tolerance. These do not explicitly skewer or
problematize the legitimacy of 'the Ninety-Nine Per Cent' or open the way
concretely to occupied studies. I hope it is relatively clear by now that
binning the man-handled term, whose purity was mourned by Mistress Moll, *is*
actually an option. Oppressed people -- workers and colonized -- have fought
back with occupations for centuries. But if we wanted to leave (rather than
'concede') the idea of 'occupation' to apartheid regimes like Israel, and keep
'reclamation', 'decolonization', 'squat' and 'communalization' for ourselves,
we probably could. 'Foreclosure' itself could become 'our' word: ex-home-owners
and allies have foreclosed on Bank of America with some real success.[^8] But
rather than try, I suggest we advocate a concerted critique of the ideologies
'occupy' can, by its very flavors, be used to justify. The #occupy meme has
gone viral. Authentically radicalizing ideas can be the hidden contents of our
Trojan horse.

### The ballerina and the bull ###

Much virtual ink has been spilt on the iconography of that slender solitary
ballerina who -- in [AdBusters' enduring image from July
2011](http://thelinknewspaper.ca/article/1951) -- maintains a static arabesque
on top of 'guerrilla artist' Arturo di Modica's $300,000 bronze Charging Bull.
Yes, 'guerrilla artist': it's a little mind-boggling, but a beardy Italian
actually went ahead and plonked the bull there without permission, ostensibly
to restore flagging American spirits to optimistic patriotism, during the
crash. Ayn Rand would have been thrilled. The bull was impounded by the
meddling socialist red-tape wielding bureaucratic apparatus of New York City,
but later re-instated in response to popular demand (at Bowling Green, a short
distance away from its original site). But this means the bull is a little
complex. Glossy 'business and entrepreuneurship' magazine Portfolio ran a
memorable image of the bull, 'fallen' (Fig 1), as the cover of its issue 'After
the Fall' in 2008. But AdBusters' dancer is not crushing the bull underfoot.
Yeah, I know. She's *symbolic*; synecdoche. You can't draw the 99%. Maybe a
slim white conventionally feminine person striking a confident, athletic,
prophetic pose is as good an expression of the victims of capitalism as any.
Then again, maybe it isn't.  

> ![Fallen bull](/media/img/article/fallen_bull.jpg)<br />
> <sub>Fig. 1: Portfolio Magazine's fallen bull.</sub>

Personally, if I have to be a girl -- which, a lot of the time, luckily, I don't
-- I want to be a cyborg. Or an insurgent, [SCUM
style](http://www.womynkind.org/scum.htm), a perfect Daddy's girl with a
machete behind her back. A cross-dresser. Or a riot grrl. Whether we rejoice in
(or at least, snicker at) the inaccessibility of Di Modica's bull's to tourists
-- now that steel barricades protect it from symbolic subvertizement or
insurrectionary détournement -- there remains the gendered aspect of the
iconography of its 'occupation' by the fictive anti-Wall Street ballerina. I
mean 'dancer'. But, you see, 'ballerina' has such a ring to it. Beauty and the
Beast. There's eros there, and it confuses the revolutionary purport of the act.
Her graceful, Caucasian body, a sublime icon of heraldic individuality, rides
and subdues the brute masculinity of the horned bovine beneath her. Or, one
could say, it is *supported* by those accommodating, bulging shoulders; they
make a pedestal for her. She has been photo-shopped there, to be an attractive
little static David, defeating Goliath through the sheer power of looking
pretty. Personally, I would prefer the concept for the commons -- the
revolutionary threat to this 'Leviathan' -- to be quite different. I mean,
really *different*. Full of *difference* and even
[*différance*](http://www.angelfire.com/de/jwp/Differance.html), if we want to
be fancy about it.

Gender is something too slippery for any one body to truly 'occupy', despite the
vast amounts of anxious role-fixing undertaken everyday in the form of adverts,
fashions and tropes. Creatively, one can of course approximate a stable gender,
disrupt it, enforce it, expand it, nurture it, and, perhaps, even *smash* it on
the mortar of one's own body, at least, in its dualistic guise. I, writing, am a
person who lately became *pre*-occupied by the question of the movement's
attitude to gender. Sporadically gender-dysphoric, I exist among the
contradictions of lived gender all the time, noticing, or assuming, shared
identities which aren’t reciprocal, unconsciously identifying present absences,
visible invisibilities, pragmatic realities -- the non-selection of non-males
for academic or activist panels, for instance. I persist in highlighting
austerity economics' particular victimization of women within the capitalistic
domestic unit, because that *is* the way to express the form and content of that
reproduction of inequality. And I persist in strategically acknowledging
'femaleness' in myself if need be, insofar as it lends my preferred insurgent
discourses a kind of authenticity. And why *shouldn't* one 'use it'? Even if it
privileged me in writing about [the New School
occupation](http://occupiedstudies.org/articles/safe-occupation.html), for
instance. I would prefer radical equality. But if strategic inverse
discrimination is the transitional order through which we must pass to achieve
it, so be it. The dream, in my head, is to set up a state based on equal
genders, which works towards its own withering-away.

More recently, the toxic rhythms of transphobic sisterly argument have reached
me via email. They resonated immediately with first-hand experiences of
organizing meetings I've attended that featured aggrieved expressions of an
identity politics which fails to listen, or to draw links between, the
struggles of divers oppressed groups -- which are often struggles rooted in
differently experienced versions of the same illegitimate powers. I want to
articulate a general 'reminder': charities in the UK (like Broken Rainbow)
estimate that half of trans women there are battered. But let's assume 'only' a
quarter are. [Katha Pollitt](http://www.thenation.com/authors/katha-pollitt),
a much respected second-wave feminist writer, has recently circulated amongst a
relatively small number activists a memo concerning the 'turn' taken by
feminism within Occupy Wall Street. "*I am not really interested in breaking
down the gender binary,*" Katha said. Oh, no?

> "*Most women, like 99%, whether gay or straight, are just plain biological
> women, with uteruses and periods and vaginas. They were raised as girls, with
> all that implies, they are treated as women by the world. ... They can't
> escape their femaleness, any more than most men can escape their maleness, and
> they don't want to! I don't feel "imprisoned in my identity as a 'woman'" - -I
> feel imprisoned by misogyny. I don't feel I am 'female-assigned" -- like
> whoever hands out the assignments could just have given me a different one. I
> am aware some women, and some men, feel they got the wrong label, but why is
> their experience taken as the general, paradigmatic one?*"[^9]

So much of 'woman' is indeed entirely arbitrary, but that does not mean one
should ignore lived experiences, which are very real. Katha asks: "Why don't
people care anymore that women still make only 77 cents on the male dollar, have
to contend with sexist violence, are losing their repro[ductive] rights?  Lose
custody of their children to batterers?" And although people *do* care (think of
Women Against Austerity, against the cuts, Feminist Fightback...) it's a great
question. My heart swells with sympathy. It resonates with my experience, too,
that feminism isn't fashionable anymore. But it blows my mind that essentialist
feminists want to police the conceptual borders of feminism in this way. 'We are
the 99%', they say. 'You trans/queer types are the 0.1% -- stop silencing us'.
You think I'm joking? Pollitt used that exact analogy, and inadvertently
betrayed the neopopulist ideological potential of the 99:1 schema: 

> "*Are transgendered women really women? It's heresy to say they're not, but
> actually I don't really think they are. They are their own thing. I deeply
> resent that I am supposed to call myself a ciswoman or a biowoman -- as if now
> there are two kinds of women, the 99.9% born that way, as Lady Gaga would say,
> and the 0.1% who were born male and present as female.*"

Get transwomen out of womanhood! Enough with difference and fluidity: we feel
trapped, and we *are* trapped, okay? We authentic ninety-nine per centers
aren't 'cis', we're unmarked, natural, not constructed. We're the *whole*. 

So far, so 99%. It can be a very reactionary category, as odious as the word
'occupy'.

Still, to an extent, I 'get' this position. Already subordinate, why can't women
'just add Pride'? Why do women, white or of color, have to be denaturalized,
aligned with multiple genders, endlessly problematized? This is why. It's an old
chestnut but a sound one (and I thank Naomi Wolf for - negatively - [opening my
eyes to
this](http://lasophielle.com/2010/11/27/naomi-wolf-author-the-beauty-myth-fire-with-fire-and-more-speaks-to-the-ivory-tower-and-in-the-eyes-of-left-leaning-attendees-very-much-disappoints/)
two years ago): *you don't dismantle the master's house using the master's
tools*. The implications of this are legion. Most obviously, it means that you
don't perpetuate the chain of hierarchy. Not tit for tat, not the
world-upside-down, but a bold gesture beyond the existing *logos*, towards
revolution, towards another world entirely, that is, towards uncertainty. Put
another way: You don't abuse your enemies, or promote class consciousness, by
calling them poor, unwashed, and abject. In her email, Katha describes women at
OWS meetings appearing "so unentitled to speak, so unable to speak well", by
contrast with men who were, she sadly notes, "such entitled jerks, even if they
are homeless, unemployed, drowning in debt and living in a tent!" We know that
bright women underperform in public conversations, that somehow the female
'stand-up' barely functions as an act, that femaleness and authority don't mesh
easily, and that male privilege permeates other social indices -- no need to
link homelessness with 'jerks'! If this weren't worrisome enough already, in an
apparent *non sequitur*, she continues "It beggars the mind that at the very
moment the Bishops are trying to overturn the birth control coverage mandate in
the Affordable Care Act, women think dressing in drag is an appropriate way to
celebrate May Day." I confess I'm surprised that Pollitt recognizes that women
*can* dress in drag. And, on the one hand, I agree: a far more appropriate way
to combat the Bishops would be to expropriate USCCB headquarters, or better, an
enormous cathedral, in order to run it as a sex-positive sanctuary and safe
space for queer people. Liturgies could be conducted [in
Polari](http://www.thesisters.demon.co.uk/bible/introduction.html).

Why does activism around gender oppression have to be in opposition to, instead
of activism which includes, trans people? Trans people need shelters and
reproductive rights too. Some countries require trans people to be sterilized
before they can legally change gender. This is something everyone should
"deeply resent". And if we really think, as Katha does, that "women are shunted
aside" by the struggle against transphobia, then we are not -- for lack of
movement -- seeing our own chains. A feminism invested in perpetuating the
gender binary *makes no sense*.

### The middle class and the Zero Per Cent ###

Only in America does 'middle class' mean what it means there. It's not hard to
divine why this is: the land of the free got rid of its 'working class' around
the time of the New Deal. As [Pickett and Wilkinson have
shown](http://www.guardian.co.uk/books/2009/mar/13/the-spirit-level), the
USA's extraordinarily high unhappiness indices -- things like obesity, mental
illness, crime, infant mortality, teenage births, drug abuse -- correlate well
with its sheer unmatched
[*inequality*](http://en.wikipedia.org/wiki/Gini_coefficient) amongst
industrially developed societies. It also, as we know, developed a monolithic
neoliberal two-party politics machine which saw voters' numbers dwindle,
enfranchised corporations, and got rid of any last semblance of 'democracy'
(the farcical corpse of which we can now watch as entertainment, lumbering
along on Super PAC). Talk about a word more odious than the word 'occupy'. But
the idea that Americans are all middle-class now, except for those greedy few
outside the rules, is a cosmetic obfuscation of the blindingly obvious survival
-- as seen in in 'aspirational voting', small-town Republicanism, and American
exceptionalism -- of common-or-garden hatred of the surplus 'lumpen' misery
that lies outside the system, beyond the outer limit of solidarity, and of
reason.

Katha Pollitt does not see the irony in complaining that 0.01% of the feminist
population is 'paradigmatically' trampling over the majority. I think there is a
chance that, by defending essentialist-determinist sorority as simply separate
from trans and LGB struggles, Pollitt means to defend Black and Majority World
feminisms against the 'tyranny' of first world queer theory and postmodernism.
But for this to hold water, the structures of heteronormativity, sexism, and
racism have to be conceived as unrelated. The homophobe, the misogynist and the
racist are stand-alone bogeymen within a functional liberal-pluralist society.
Far from copying ways of weaponizing intra-proletarian difference again and
again, according to this view, Empire has nothing to do with ensuring the
reproduction of a hydra-headed 'othering' totality. No, it's about individual
fights! The right to self-determination!  Let the queers and transpeople in
Latin America (where [most are
murdered](http://www.reuters.com/article/2011/11/17/us-transgender-idUSTRE7AF1UA20111117))
go it alone. 

If the first thing brought to mind by the term '1%' remains [the cartoon
character](http://www.hasbro.com/monopoly/en_US/) from the boardgame
*Monopoly*, its significance in terms of hegemony in 2012, the TINA (There Is
No Alternative) politics of workfarist austerity, is likely to continue to
escape us. If, by chanting 'We are the 99%', protesters hope to move towards
expropriating the expropriators by excluding those who excluded them from
'democracy', it matters that an oppressor defined as 'greed' (much like an
enemy defined as 'Terror') cannot, by definition, be banished from the *polis*.
It has been constructed to displace, to internalize, an antagonism. Do I
overstate the case? Perhaps. But you will grant me that the relation between
bosses and workers -- which is not going anywhere with neoliberalism, whatever
new management-speak about 'team synergy' between 'associates' suggests to the
contrary -- the relation between capital and labor, is heavily obscured by this
distributional complaint. Worse, we do not see the superfluous, the invisible,
the 'illegal', or the incarcerated *noughth* percentile when we divide the
sphere of the sensible in this way. 

Whilst I have seen Stock Exchange employees -- elbowing past blockades -- bray
at police officers, "I'm the one per cent: let me through", I have also heard
individuals with OWS buttons on their lapels asking us "[to] acknowledge the
spiritual *suffering* of our brothers and sisters in the 1%, so that we can be
100% together".[^10] Faced with such unreciprocated quisling sentiments, it
might even be *too much* to say that 'ninety-nine per cent' expresses a new
*pseudo*-proletarianism: indeed, its classless gesture posits universally
enfranchised all-American middle-class *homogeneity*, centered around
not-being-a-banker (where 'banker' erroneously stands in for the recently
financialized neoliberal ruling class). Pursuing this scathing vein to its
extreme conclusion, *Occupy Everything*'s fire-breathing L-G Schwartz avers that
"together, the 1% and the 99% constitute 100% of those assimilated within social
representation",[^11] whereas those from the '0%' with a desire for
'communization' have found their energies co-opted by efforts from Adbusters to
re-incorporate protest into "the cesspool of citizenship". The precise
relationship between a potential insurgency of the excluded (Rancière's
*sans-part* or Schwartz's Zero Per Cent) and the category Ninety Nine Per Cent
may become clear through a dialectic of longer-term struggle. Contra Schwartz, I
appreciate OWS's ["We Are &hellip;"
illocutions](http://wearethe99percent.tumblr.com/) as a starting-point, a germ,
preparing class consciousness towards the occupations yet to come.

What is it, to occupy Wall Street? It is not moving your money, walking
righteously on the sidewalk, holding smug panel discussions in the ivory tower,
or taking advantage of the sales at Best Buy. To 'occupy' means to decolonize
territory stolen, whether land or flesh. It means to refuse division, to stand
shoulder to shoulder with untouchables, to seize, to make a home where people
are homeless, to explode the hegemony of 'middle class' citizenship, and to
defend the bodies of the politically invisible, who are the people who make
politics *possible*. "God's light!" Earlier on in her invective, Mistress Moll
says that if captains were of her mind, they would "truncheon" fakes and
posers, for taking names upon themselves before they have "earn'd them".
Perhaps those of us who allege we 'Occupy Wall Street', when the most we have
done is show up at the odd demonstration, could take a leaf out of Moll's book.
It was an excellent good word before it was ill-sorted.

### Footnotes ###

[^1]: http://colorlines.com/archives/2011/10/unoccupy_albuquerque_in_respect_to_indigenous_new_mexicans.html.
[^2]: http://www.oregonlive.com/portland/index.ssf/2011/11/un-occupy_portland_counters_oc.html
[^3]: Lindsley et al, 'Mending the Sacred Hoop: Identity Enactment and the Occupation of Wounded Knee', The Great Plains Quarterly (39) (2002). 
[^4]: The website 'Native Village' carries the an entry on the 1969 Occupation of Alcatraz and The Proclamation of Alcatraz. http://www.nativevillage.org/Inspiration-/Occupation%20of%20Alcatraz%20and%20the%20Alcatraz%20Proclamation%20alcatraz_proclamation.htm. 
[^5]: http://socialistworker.org/2011/11/07/occupy-or-unoccupy
[^6]: http://www.occupybestbuy.com.
[^7]: http://www.huffingtonpost.com/2011/11/14/jay-z-pulls-occupy-tees_n_1092648.html
[^8]: http://www.nationofchange.org/bank-america-takes-occupy-foreclosure-actions-seriously-warns-employees-we-need-be-prepared-13232738
[^9]: in a group email circulated to students interested in Take Back the Future and feminism within OWS, at the New School, by Drucilla Cornell.
[^10]: contributed during Q&A at the penultimate panel discussion at ['The Winter of our Discontent'](http://lasophielle.com/2012/02/12/notes-from-the-front-row-of-the-winter-of-our-discontent-stepping-back-taking-stock-and-gazing-forward-in-the-wake-of-occupy-wall-street/).
[^11]:http://occupyeverything.org/2012/zero-percent/

{% endblock post %}

{% block bio %}
Sophie Lewis is one of the conceivers and <a href='/about'>editors of JOS</a>.
She also blogs independently at <a
	href='http://lasophielle.com'>lasophielle.com</a>.  <em>With thanks to Elliott Evans</em>.
{% endblock bio %}
