---
title: Communicability & the Police
author: Hannes Charen
organisation: The European Graduate School
description: A forceful outline of Occupy Wall Street's heritage in the anti-globalization and Zapatista movements, 18th-century aesthetics, and Plato's Republic.  Drawing on the political theories of Hannah Arendt and Jacques Rancière, Charen evinces a fundamental struggle between the radically egalitarian core of OWS tactics and the stultifying gaze of pop-political representation
image: nypd_line.jpg
image_credit: Main photo <a href='http://www.flickr.com/photos/clicnpic/6505703535/in/photostream/'>SOBPhotography</a>
image_licence: cc-by-nc
created: !!timestamp 2012-01-30 00:00:00
tags:
    - culture
---
{% block post %}
One aspect of the Occupy Movement initially latched onto by the mainstream media
was its apparent lack of specific demands and absence of something like a
unified message, one, perhaps, resembling those other marginal political
'movements' like the well-funded right wing tea-party. This degenerated into
dismissive criticism, indeed as evidence that such a movement should not, or
even could not be taken seriously. Underlying this assumption is the idea that
in order to engage in politics in the United States one must either identify
with a political party or take a critical stance towards one of the two major
parties--the binary which has of course only reaffirmed monopolized power the
US over the past century.

According to this principle, in order for the mainstream media to recognize a
political movement it must be one situated within the political discourse of
neo-liberal economics which equates democracy with capital, a position
represented by both dominating parties in this country. In other words, if a
movement articulates a criticism outside of a specific policy or a particular
party line, and instead attacks the very foundations of the economic/political
system as such--one which has only become increasingly monolithic, and one whose
contradictions have become only all too obvious, it is either not taken
seriously or simply dismissed as a fringe group. If acknowledged on any level,
however, it is promptly labeled a terrorist organization, as the Occupy Movement
recently was by the police in London.[^1] "[A] section headed 'Domestic' was
dedicated wholly to the activities of the Occupy encampments and singled out
anti-capitalists as a cause for concern."[^2]

The conflation of corporate interests and political policy, on a local and a
global scale, results in a logic which views an attack on a corporation as an
attack on a country and therefore on the explicit values inscribed in its
constitution such as liberty, freedom of expression and human rights. So the
attack in the name of food sovereignty by the Zapatistas in Mexico on Monsanto's
fields in the 1990s becomes an attack on the so-called sovereignty of the United
States and therefore the Zapatistas are considered insurgents.[^3] The notions
of freedom, democracy and justice therefore lose all sense of orientation and
become alienated from the world in which they are concretely based (i.e. liberty
or freedom from oppression, a concept which clearly presupposes radical
equality).

<blockquote class='pull'>
	In revolution we appear to each other differently -- in a way which no news
	template and no party line knows how to anticipate, nor can find authorization
	to represent.
</blockquote>

In other words, if the Occupy Movement is concerned with the persistence of
political community in a truly global world, one in which national borders (as
well as the false political binary expressed by the two parties) become
increasingly meaningless and one in which conditions of corporate domination in
conjunction with neo-liberal ideology[^4] are so entrenched that anything
resembling the act of doing politics simply remains absent, then it articulates
a revolution in the very intimate space of the senses. In revolution, or a
movement occupying the actual sphere of politics, which is to say both the
praxis and the poiesis of politics, we appear to each other differently --
communal space emerges differently -- in a way which no news template and no
party line is capable of anticipating, nor can find authorization to represent.
On this level aesthetics and politics are entangled.

Inspired by Schiller's eighteenth-century meditations on aesthetics and
politics, the contemporary philosopher Jacques Rancière focuses on political
resistance, or what he terms *dissensus* in aesthetics as the site of a
potential new "human community". Part of what makes Schiller's *Letters*
revolutionary for Rancière is that they undermine the formal submission of
aesthetic experience under the categories of the understanding.

> "Aesthetic free play and the universality of the judgment of taste define a new
> kind of liberty and of equality&hellip; Aesthetic experience is that of an
> unprecedented sensorium in which the hierarchies are abolished that structure
> sensory experience."[^5]

Rancière is not the first to perceive the connection between aesthetic judgment
and communicability in politics. Though unfortunately never fully realized,
Hannah Arendt intended to develop an ethics and political philosophy based on
Kant's *Critique of Judgment*, which deals specifically with aesthetic judgment.
One of Arendt's main points was that in order for politics to occur it must
resist the totalitarian gesture that over-determines the space of the political,
and alienates the political sphere from active participation. Politics for
Arendt, like aesthetics for Kant, requires confrontation with the unprecedented
and therefore presupposes the activity of thinking, as thinking occurs only when
confronted with the unknown. Otherwise access to politics is left only to those
'experts' who have the time and energy to specialize in policy manipulation
while those whose political task ends at the voting booth can devote their lives
and energy fighting for the few jobs and meager public resources made available
by that policy, all the while finding themselves in increasingly desperate
circumstances.

For Arendt, the political should under no circumstances subordinate itself to
capital. Politics should never become instrumental but must remain open to the
unprecedented, material conditions of life and must function only to guarantee
the egalitarian space of participation. In other words, politics must always
remain an end in itself. This is what she takes from Kant's notion of
communicability. The political as such would be a critical engagement with
conditions otherwise taken as banal, or the recognition of those which were
previously simply invisible, what Rancière understands as the poor or those with
*no part* in politics. Yet according to Arendt the political is opposed to what
she deems the social sphere, which for her cannot enter the discourse of the
political. This would be the world of entertainment and gossip but also the
bourgeois relations of status, the desire for wealth and so on. In this sense
the social obscures or even prevents politics.

Rancière's critique of Arendt's notion of the political regards exactly this.
For Rancière, excluding specific spheres of life from the political simply
reinforces the formal distinction that allows politics to maintain an
exclusivity, that which only so-called expertise (i.e. determined by the
relations of capital) is permitted to inhabit. The situation in which those in
power in the UK categorize Occupy as a terrorist threat simply functions to
push all discourse which occurs within or as a result of Occupy into a category
which represents the violation of human rights, the murderous, those who enact a
violent breach of justice, and certainly those who 'hate democracy and freedom'.
This reaction is an attempt to prevent the recognition that the conditions of
our relations to one another on the level of the community, which is to say the
social, are in fact political through and through. This is how Occupy is
permitted on an official level to appear to the police in the UK.

In a broader sense this can be understood as the function of the police in
Rancière. The media is now authorized to add the phrase 'terrorist group' to any
story covering Occupy. It would be hard to imagine the regime in power in the
UK (or the US for that matter) to be labeled a terrorist group by the
mainstream media regardless of the degree to which human rights may have been
violated by official or unofficial policy. Yet it would be just as difficult to
imagine any or most mainstream media not admitting that according to the
commonly accepted definition of terror (which would obviously include things
such as torture, illegal and secret detention, violently repressing freedom of
speech and targeting civilians for example), that the regimes in power in the
UK or US have clearly been guilty of violating far more human rights on both
a national and an international level than any Occupy action. Indeed it would be
difficult to see how any of the actions taken by Occupy since its emergence
could be construed as terrorism. The same contradiction is present in the
streets between the protesters and the police.

<blockquote class='pull'>
This is one way in which policy and propaganda function in a capitalist society
to re-distribute the sensible, to isolate the obvious material conditions from
the authorized depiction and to circumscribe the political within an officially
constituted space.
</blockquote>

As noted in issue #3 of n+1's *Occupy!*: "The over-reporting of protester
violence has many causes&hellip; any instance of protester violence creates the
illusion of an easily grasped, symmetrical conflict&hellip; There is something much
more difficult to capture about a prolonged yet assymetrical conflict -- an entire
police force, with military armaments and intelligence operatives, enacting a
strategy of suppression over several months against a shifting, unarmed
collective."[^6] Even within the Occupy movement the minimal amount of violence
engaged in by some protesters has in some cases become more of a focus than the
overt violence consistently performed by the police.

This is one way in which policy and propaganda function in a capitalist society
to re-distribute the sensible, to isolate the obvious material conditions from
the authorized depiction and to circumscribe the political within an officially
constituted space. Freedom becomes, for example, freedom to fight dearly for a
severely underpaid job and then if lucky, to choose ones own health insurance
policy, freedom to choose a political representative who submits to lobbyists
and special interest capital, but never freedom to become directly political,
never to practice politics in the streets and challenge not only the specific
policies and entrenched political parties, but to directly challenge the
economic system of capital which underlies them. That of course becomes
'unthinkable' and inexpressible if not outright illegal. One would be told in a
disarmingly banal tone to submit to the polling booth if change is wanted.

In a political sense, what is experienced in the US is something like an
extreme plutocracy but somehow designated in political rhetoric, in the
classroom and in the media as a great democracy, even 'the greatest'. Yet, when
democracy is practiced, people -- those with no part in politics, i.e. workers,
students, citizens, immigrants, the poor; basically anyone without substantial
pecuniary power -- those claiming freedom of expression in Zuccotti Park for
example, or in the streets of Oakland are violently attacked and promptly
arrested. Sadly, though in no way a surprise (for it simply follows in the logic
of capital), it is the corporation whose rights as a citizen trump the *demos*
and it is the police ostensibly in charge of protecting and serving this so
called democracy who brutalize those who demand political discourse through
praxis. One reason why the *American Bankers Association* (a lobbying group)
paid $850,000 to discredit Occupy and "smear politicians sympathetic to its
cause" is simply because it has to cover over precisely the kinds of
contradictions which the misnamed financial-industry[^7] presides over -- deeply
unacceptable and revealing contradictions they clearly fear that Occupy is
uncovering.[^8]

For it is nothing other than fear that the true contradictions of the economic
monolith of capital, a result of unprecedented economic concentration, will
simply become too obvious for even those working on Wall Street to accredit. It
is the violently repressed knowledge that only a vacuous confidence in this
illusory industry justifies such an extreme concentration of wealth and power in
a nation whose constitutional principles explicitly boast the very opposite.
Going back to Rancière, the point is not that there is an opposition between
what is political and what is not. Instead, using the opposition police/politics
Rancière suggests the following:

> "From the moment that the word equality is inscribed in the texts of laws and
> on the pediments of buildings; from the moment that the state institutes
> procedures of equality under a common law or an equal counting of votes, there
> is an effectiveness of politics, even if that effectiveness is subordinated to a
> police principle of distribution of identities, places and functions. The
> distinction between politics and police takes effect in a reality that always
> retains a part of indistinction. It is a way to think through the mixture. There
> is no world of pure politics that exists apart from a world of mixture. There is
> one distribution and re-distribution."[^9]

Rancière's point is that communicability and therefore politics, already
presupposes equality. The police, on the other hand simply function to
redistribute relations vertically. Equality however will clearly never, in
paradox come from above, but rather must be taken, grasped in its immanence.
Relations must be transformed. This is kin to Rancière's notion of pedagogy
illustrated in his early work The Ignorant Schoolmaster. So long as the
dichotomy of the teacher and the student is upheld there will be an intractable
separation between the two. What undermines this redistribution of power is the
realization or the assertion that it is only the student who can teach herself.
It is not a matter of redistributing knowledge from the teacher to the student
but instead the possibility of the acquisition of knowledge by the student,
perhaps assisted by the teacher but attained from the world. The capacity to
know and to learn is already there; if nothing else it is demonstrated in the
acquisition of a first language, which never occurs in a teacher-student
dichotomy. In terms of the Occupy Movement, this notion of radical
egalitarianism can be utilized to render intelligible the lack of demands and
refusal of submission to the distribution of political power.

Occupy demonstrates precisely that it does not require the entrenched political
apparatus, the stagnant dichotomy of parties in the US or the failed system of
checks and balances, which simply submit to the authority of capital, in order
to practice politics. It is exactly the opposite. It is the reassertion, the
seizing of the space of equality in the most radical sense that marks the
resistance and condition of the possibility of politics practiced by Occupy.
Perhaps now that we've seen, to the increasing astonishment of the media and the
police, the persistence that a movement with apparently no clear demands voiced
has given, it will finally be understood that the demands are inherent in the
occupation of space and the practices that occupation offers. And this is what
enrages the police and what strikes fear into the mind of the politician and the
undergirding financier.

<blockquote class='pull'>
	Occupy demonstrates that it does not require the entrenched political
	apparatus in order to practice politics.
</blockquote>

On the day that Occupy was evicted from Liberty Square I walked by City Hall
Park where all the gates were closed and all public access restricted. At every
entrance there were groups of cops in full riot gear, billy-clubs at the ready.
We know that squads of riot police are not deployed to protect a politician from
the random act of violence. Rather, they function to protect him from the people
as such who no longer have confidence in the system and who no longer accept the
corrupted authority of his office. I was reminded of a passage from Plato's
*Republic* I came across only a week earlier. It describes the transition from a
presumably just and democratic regime to one marred by tyranny. If nothing else
one can tell that the ruler is a tyrant when armed guards are hired for
protection from the very people he rules over, when he isolates himself from
those whom he fears will undermine his position--a position which is never
simply a single person but an entire matrix of relations, one which has been all
to clearly bankrupt from the start.[^10]

### Footnotes ###

[^1]: Listed on the "Terrorist/Extremism update for the London Business
community December, 2 2011. http://twitpic.com/7nu4b2.

[^2]:
http://www.guardian.co.uk/uk/2011/dec/05/occupy-london-police-terrorism-document.

[^3]: Meanwhile the fields of Monsanto not only exist as a result of
expropriating the previous population but introduce genetically modified crops
into the region which not only affect the indigenous agriculture but insofar as
the genetic sequences are patented, allow Monsanto to literally own all crops
that become infected with their own engineered genes and thereby sue farmers if
these engineered seeds are found on their land. Of course, it is no coincidence
that Michael R. Taylor the former vice president of Monsanto was appointed
advisor on food safety to the FDA in 2009.
http://www.huffingtonpost.com/christine-escobar/hes-back-former-vp-at-mon_b_228792.html.

[^4]: i.e. the spread of global corporatism misnamed globalization.

[^5]: Rancière, Jacques. Dissensus p. 176, Continuum, New York 2010.

[^6]: Kessler, Jeremy, 'This is What Non-Violence Looks Like', Occupy! #3 p. 4.

[^7]: For it is not an industry at all but a legitimized pyramid scheme which
produces little else than debt.

[^8]:
http://articles.businessinsider.com/2011-11-21/news/30424367_1_memo-political-parties-ows.

[^9]: Rancière, *Dissensus* p. 207.

[^10]: Not long after the eviction Bloomberg boasted, "I have my own army in the
NYPD, which is the seventh biggest army in the world."
http://www.politickerny.com/2011/11/30/mayor-bloomberg-i-have-my-own-army-11-30-11/.
{% endblock post %}

{% block bio %}
Hannes Charen is a activist, theorist, student, and father based in New York City.
{% endblock bio %}
