---
title: Lines of Dissent
subtitle: OccupyLSX and the Camp for Climate Action
author: Tim Gee
organisation: Friends of the Earth (UK)
description: Where did we come from and what can we learn? An analysis of London's OccupyLSX in the context of the now-disbanded UK "Camp for Climate Action" network
image: capitalism_is_crisis.jpg
image_credit: Main photo <a href='http://www.flickr.com/photos/chrisjohnbeckett/6257922003/in/photostream/'>chrisjohnbeckett</a>
image_licence: cc-by-nc-nd
profile_img: tim_gee.jpg
created: !!timestamp 2011-11-09 00:00:00
tags:
    - strategy
---
{% block post %}
On 15 October 2011 activists in Britain set up a protest camp outside the
London Stock Exchange. In so doing we were drawing our inspiration from Occupy
Wall Street in the US. But we were also following in the footsteps of a wider
wave of revolt -- the tented city in Egypt's Tahrir Square, the Indignados in
Spain and the youth protests in Israel to name only three. By now, in hundreds
of towns and cities across the world people have taken to the outdoors and set
up tents as part of a global revolt against neoliberalism. But although it has
risen to global prominence in 2011, the tactic of creating autonomous space as
a form of resistance is not a new one. 

Perhaps the most notable example in history is the self-governing Paris Commune
of 1871, which was forcibly broken up after only a few months.  In the Paris of
1968 a section of the city was occupied by students and renamed the 'Heroic
Vietnam Quarter'. A contemporary example can be seen in the Chiapas region of
Mexico -- where the Zapatistas have established autonomous communities -- in turn
acting as a continuous inspiration to activists across the world. 

An important example of the use of autonomous space in Britain began in
February 1992, when a group of travellers decided to pitch tents on the
proposed site of a proposed motorway. They were soon joined by environmental
activists. Together they remained there for the next 10 months. When
campaigners began making preparations for a similar initiative at another site
in the south of England the government got scared and announced that their
planned road project there would not be going ahead. 

Compelled by that momentum, campaigners kept building the movement and
organised protest camps elsewhere. Tactics borrowed ideas from anti- logging
activists in North America and Australia such as lock-ons, ecotage and tripods
(three poles attached together with a person at the top), and fused them with
home-grown tactics suggested by parts of the climbing community, to stretch
both the wits and the budgets of the authorities in their efforts to remove
them. Due to the heightened publicity and expense, the roads project became
untenable. In 1996, the government decided to abandon its plans and axe plans
for 77 new roads. The protesters' efforts had paid off. Once again a feature of
this movement was the autonomous spaces of the protest camps. 

One of the support networks for the Roads Protests was called Reclaim the
Streets. In 1995 they turned from the defensive to the offensive, by setting up
autonomous 'street parties' in the middle of existing roads rather than
proposed ones. On perhaps the most audacious occasion, thousands of people
closed down a motorway. Underneath the skirts of stilt-walkers, people drilled
holes into the roads in order to plant trees, the sound disguised by the music
emanating from amplifiers all around them. 

The tactic spread. On 16 May 1998 a 'global street party' took place in 24
countries and on 18 June 1999 (dubbed 'J18') movements in 43 countries took
part. When in November of that year, activists in Seattle succeeded in
combining a street party with strategic road blockades to close down a meeting
of the World Trade Organization, the movement could no longer be ignored. Every
meeting of the world's elite that could be disrupted was disrupted using the
tactic of creating autonomous spaces of resistance in the shadow of capitalist
summits as one of their methods. 

It was at the camp set up for the 2005 mobilisation against the G8 in Scotland
that environmentalists started discussing the possibility using similar tactics
to focus attention on the places that CO2 was emitted rather than the summits
where decisions were made. And so preparations for the Camp for Climate Action
(Climate Camp) began. 

The Climate Camp concept rolls in to one the main characteristics of a training
camp, autonomous space and sustainable community. Most importantly, the focus
is action -- either there or thereafter. The first Climate Camp took place in
summer 2006 on land close to a coal- fired power station in the north of
England. As with Reclaim the Street the tactic spread and Climate Camps -- or
their equivalents -- were established in Scotland, Wales, Ireland, the US,
Canada, Denmark, Sweden, Switzerland, France, Germany, Belgium, India, New
Zealand, Australia, Ghana and the Ukraine. 

In Britain the link between Climate Camp and #Occupy protests is most obviously
apparent in the use of public camping as a protest tactic, but also in the
practice of consensus decision-making and the opposition to any economic model
which hurts people and the planet.  The 'Capitalism is Crisis' banner which
adorned UK Climate Camp entrances in 2009 even flew over Occupy London for a
time. But #Occupy in Britain is not simply the latest version of Climate Camp.
It also reflects a growing alliance with the new youth and student movement
which last year displayed its militancy and ability when the Conservative Party
headquarters and then university lecture theatres across the country were
occupied in protest at tuition fee rises and education cuts. For many people it
is the first protest they have ever participated in. 

This is due in part to the massive dose of hope injected in to every person who
strives for a better world by the movement in Egypt. In a recent interview for
New Internationalist, activist Gigi Ibrahim called the tent city in Tahrir
Square 'a mini-example of what direct democracy looks like. People took charge
of everything -- trash, food, security. It was a self-sustaining entity. And in
the middle of this, under every tent, on every corner, people were having
debates about their demands, the future, how things should go economically and
politically. It was fascinating. It was a mirror of what Egypt would look like
if it was democratic.' It is likely that anyone who has participated in the
recent wave of #Occupy camps would be able to recognise this sentiment. 

Perhaps by coincidence there is a startling parallel with another movement in
the Middle East more than a century ago. In 1906, in the context of a financial
crisis, thousands of people camped outside the British Embassy in Persia to
demand greater democracy and limits on the power of the Shah. They gave
speeches, studied constitutionalism, and learnt from one another in their own
'open-air school'. Persia's first elections took place before the year was out. 

So it can be seen that the creation of autonomous space can play a role in
bringing about social change. Camps can be spaces for people to debate and
learn from one another on a large scale, outside of the structures of authority
and hegemony that shape ordinary life. But while the awakening of critical
consciousness is central to effective struggle it is not enough. Only by using
camps as bases from which direct actions are taken which undermine the
interests of the 'haves', are such camps successful in their aims. 

Gigi Ibrahim put it thus after the downfall of Mubarak: 'if the struggle wasn't
there, if the people didn't take to the streets, if the factories didn't shut
down, if workers didn't go on strike, none of this would have happened.' As the
99% takes on the 'global Mubarak' of undemocratic global institutions and
financialised capitalism, it is crucial that we heed those words. 
{% endblock post %}

{% block bio %}
Tim Gee is the author of <a
	href='http://www.newint.org/books/politics/counterpower/'><em>Counterpower</em></a>
-- a history of the strategy and tactics that have led to transformational
social change.<br />
<em><small>Photo Bond/Tallis</small></em>
{% endblock bio %}
