---
title: Occupy Wukan
author: Matthew Turner 
description: An overlooked history of soviet politics in China, restoring the "Wukan village incident" to its rightful (but imperfect) place in the canon of radical struggle.
image: v-mask.jpg
created: !!timestamp 2012-01-30 00:00:00
tags:
    - struggle
listable: False
---
{% block post %}
{% endblock post %}

{% block bio %}
Matthew Turner is a poet and professor of literature. He recently returned to
the U.S. after six years of teaching in Beijing where he also worked as a
journalist and editor for various newspapers and translation outfits. He can be
reached at mateo.tornero@gmail.com. 
{% endblock bio %}
