---
title: Wukan Soviet
subtitle: or “Occupy Wukan”?
author: Matthew Turner
description: An overlooked history of soviet politics in China, restoring the "Wukan village incident" to its rightful (but imperfect) place in the canon of radical struggle.
image: v-mask.jpg
created: !!timestamp 2012-01-30 00:00:00
tags:
    - struggle
---
{% block post %}
*Soviet*: noun<br />
:	1. an elected local, district, or national council in the former Soviet Union.<br />
	a revolutionary council of workers or peasants in Russia before 1917.<br />
	2. a citizen of the former Soviet Union.<br />
	ORIGIN early 20th cent.: from Russian *soviet 'council.'*

It may be better to invent new terms when talking about a "soviet-occupied
territory" -- a confusing term that, in the United States at any rate, often
implies nothing more than human deprivation, and definitely not a
self-sufficient base of action.  But the soviet base, territory, or council is
only adjectival in the sense that it announces what kind of land the occupants
live on (for example, the question: "Is it a soviet republic or is it a
corporate protectorate?").  The negative connotations attached to the term,
however, are most prevalent in those languages expressed by entrenched corporate
power -- in countries where, ironically, soviets never existed, and even the
notion of council-controlled land would pose the greatest threat to corporate
power.

For a proper use or historical understanding of the term, it is necessary to use
the term "soviet" as it is originally intended -- that or succumb to intellectual
mercantilism and historical amnesia.  The only case in which what I am calling
corporate use may be adequate is, glibly, when describing the effect of soviet
life on those who have been forcefully deprived of their privileges -- in the
physical space where one class has overthrown another class.  In that sense only
can one speak of the "soviet" conditions -- conditions that would break apart
congealed, corporate, power structures, and establish new, inverse, ones --  that
would surely await the upper classes.

<blockquote class='pull'>
	In a country so large as China, what has become a political tradition
	continues not only under the auspices of the government, but simply by
	widespread unreflective or cynical practice.
</blockquote>

Being somewhat familiar with the history of Chinese soviets, I was asked to
write a piece on radical Chinese politics.  But the Chinese term for politics,
政治, is etymologically closer to the terms "government control" and "government
management" than the Western πολιτικός, which implies a commons, open debate and
consensus.  For that reason, however, it is to me the more complex term,
directly at odds with what is often considered to be the essence of benevolent
governance.  It is also the term that is directly reflected in the political
practice of "free" Chinese soviets.  The pre-1949 Chinese soviets made no
pretext of finding "common ground."  There was an exploited class and a ruling
class, and petty bourgeois intellectuals and bourgeois merchants would be
incorporated according to the needs of the soviet.

This historical lack of a political commons was evident in the Chinese soviets,
and also continues today.  As much as it may be reported that Ai Weiwei and Gao
Zhisheng are exemplary dissidents, somehow intellectual figureheads of the
100,000+ "mass incidents" that happen in China every year, it is important to
remember that in a country so geographically large (and populated) as China,
what has become a political tradition continues not only under the auspices of
the government, but simply by widespread unreflective or cynical practice.  The
radical politics of the day -- if there truly are any -- are closer to wildcat
strikes than they are to occupations or, especially, to soviets.  As is well
known, the Chinese soviets took protests to the level of establishing control as
well.

First, we will take a look at the historical record[^1]:

1. After the failure of the short-lived Hailufeng Soviet in Guangdong Province
	("Canton"), just and unjust disciplinary measures are taken.
2. Later that same year (1927), Communists regroup in the Jiangxi Soviet.  In
	Jiangxi they attempt to purge the area of landlords and other reactionaries, as
	well as establish a new currency and limited public works.  The base is used as
	a fortification from which mobilizations can be carried out.  Mao Zedong
	subsequently emerges as a superior tactician, and Zhou Enlai, much-loved for his
	diplomacy, begins playing second fiddle.  Discipline is established in a base
	made up almost exclusively of peasants and intellectuals -- the urban working
	class Communists having already been decimated by Nationalist "democratic"
	forces.  After repelling multiple raids by the Nationalists, the Communists are
	severely weakened, and retreat on the Long March to Yannan, in the northwest.
3. In Yannan, Party leadership brooks no dissent, and Party hierarchy hardens.
	Despite publication of the "philosophical essays" of Mao Zedong, and the
	establishment of the Lu Xun Art College, critical thought is henceforth
	"rightist," and subject to reform.

<blockquote class='pull'>
	The "Wukan Incident" has absolutely been the most successful group  action
	of recent years, and may also have been the most comprehensive.
</blockquote>

Now consider the establishment of bases of leftist action in contradistinction
to the recent political activity in the village of Wukan, which is ostensibly
without ideology, and hence heavily covered as an "anti-corruption" movement in
the Western media. The "Wukan Incident" has absolutely been the most
successful group action of recent years, and may also have been the most
comprehensive.

1. Villagers in Wukan (population estimated between 10,000 and 15,000), Lufeng
	township, in Guangdong Province, are given little to no notice that much of
	their land has been sold for industrial development by local Party officials,
	and are later given a pittance for compensation.  In September 2011 villagers
	begin protesting these recent land sales, also establishing a committee and
	spokespeople in order to negotiate with local officials.  Three village leaders
	are arrested, and one, Xue Jinbo, quickly dies in police custody from what
	appears to be torture.  His body is not released.  More arrests follow.
2. By early December protests escalate.  Villagers attack the local police
	station and Party headquarters.  Party officials, as well as police, flee the
	village for Lufeng city.  Police set up barricades, stopping food and other
	necessary goods from entering the city.  Police also enhance internet firewalls,
	ending any communication with other area villages.
3. By late December communication is established with Wang Yang, Secretary of
	the Guangdong Provincial Committee of the Communist Party of China.  Secretary
	Wang leads negotiations with village leaders, securing the release of several
	prisoners, effecting changes in local elections, and opening the possibility of
	better compensation for (or return of) land.  Villagers are told that local
	Party officials and police will be held responsible for their actions, and will
	suffer consequences for encouraging land use violations.  Skeptics insist
	Secretary Wang is simply manipulating the villagers in order strengthen the
	Party.  It is unknown if villagers actually contest Party leadership. Villagers
	await the outcome.

Wukan's residents displayed remarkable determination and organization, while
never resorting to the purges that quickly came to characterize the Chinese
soviets.  Change was affected by mobilizing villagers, emptying the area of
local representatives of state authority, reasserting the cause in the face of
privation, and entering negotiations with non-local authorities.  Regional
authorities will be able to test their solution to the "Wukan Incident" as they
appeal to Central Party leadership for aid in working against recalcitrant local
authorities, regardless of their actual intentions.   In effect, at least on the
surface of things, something closer to a "consensus model" of politics has been
reached.

> ![Currency](/media/img/article/currency.jpg)<br />
> <sub>Fig. 1: An example of currency used in the Chinese Soviet Republic.</sub>

Despite this, in a recent editorial for the _New York Times_[^3],  novelist Yu
Hua seemed to mock average Chinese for exactly this belief in appealing to
regional or national authorities (as opposed to local authorities), and for a
lack of understanding of what he sees as the absurd futility of their political
situation.  His lampooning of locals bewildered by realpolitik is also a send-up
of the supposed wisdom and benevolence of the highest levels of state, as well
as the belief that an anti-corruption campaign can neatly solve China's
structural problems:

> Victims of corruption and injustice have no faith in the law, and yet they
dream that an upright official will emerge to right their wrongs...[P]etitioners
seem to believe that the central authorities are less susceptible to
corruption...

But that is what is at issue here: the belief that a protest can solve
structural problems by presuming those problems to be the result of personal
deficiencies (i.e. a greedy or ignorant disposition).  The belief that each
individual can have equal opportunity to air grievances, and possibly deliberate
over solutions, often ends up bypassing the inhumane side of structural
problems, demonstrating that, for example, fiscal divisions have nothing to do
with fiscal markets or capital assets, but with one's motivations.  Here, akin
to Yu Hua's assertion that, for Wukan, the dispossession of land would have
nothing to do with the systemic allotment of it, the problem seems to be either
a perversion of that allotment or the inability to defend it.   If officials
behaved in an "upright" manner, or citizens were given stronger property rights,
the problems would not exist.  But as long as such a belief remains in place,
neither a full understanding, nor a sustained critique of the structure of
officialdom and representation, will be able to come to fruition.  In such
cases, political solutions are only found in intermediaries privy to the system,
but also willing to bend an ear to its victims -- such as Secretary Wang.  Even
the will to insist that reform can happen is turned into a reactionary symptom
of the system.  Villagers do not end up undermining or dismantling a system that
not only denies them the right to deliberate over the public ownership of land,
but also lords over them as a supernumerary "public."  In effect, they are
demonstrating that the system can actually work -- as long as the right people
are performing their duties correctly, and villagers understand that they are
only complements to that system.

Furthermore, when comparing various Chinese soviets with Wukan, one does not
draw tired contrasts based on the degrees to which the soviets and Wukan's
citizen organization disciplined themselves.  As much as is known about
Communist purges, too little is known about Wukan's organization to say.  One is
instead struck by the aims -- a revolution, versus attempted reform -- and how
much we know about them, based on their representations by comparatively liberal
media outlets.  For example, until negotiations were in full effect, little was
said in the "timid" Chinese press regarding Wukan, while it was celebrated
elsewhere as democracy in action, similar to the kind of activist reform that
Westerners imagine to be a human birthright.  I imagine the situation would have
been different if Wukan had announced itself a classical soviet, and that
coverage would not have been reduced to platitudes of consensus and control,
corruption and activism.  But the moral persuasion at work when comparing these
two different scenarios is truly an effect of an absurd situation, reducing
historically complex situations and systems to swift judgments of "rightness"
based on sedimented values and fossilized means of obtaining and processing
information (which privileges observation and judgment over participatory
action).

As such, one is really only guessing what would have happened if Wukan had had a
more radical vision of how their village (and their province, and their country,
and so on) should run.  Or, what would have happened if they had refused to
cooperate at all with state authority?  Most likely, armed forced would have
come in and emptied the place.  On the other hand, I am afraid that, at the end
of the day, by trusting authority to act in their best interests, the "Wukan
Incident" will be an object lesson in what not to do if you want to effect
long-lasting, structural change -- the kind of change that emerges from a truly
autonomous consensus.  There is no easy scenario here, and it's not as if a
simple choice to go one way or the other can be made, but I can at least say
kudos to both the Jiangxi Soviet and the village of Wukan for not losing
themselves in rhetoric, and not allowing themselves to become totally corrupted
by government sympathizers, whether apologists of a calcified political system
or promoting a savagely idealistic vision of what should be (I will end saying
apropos the American libertarians, who are simply humanized capitalists to the
extreme).

### Footnotes ###

[^1]: For a good outline of these and other events, see _Origins of the Chinese
Revolution, 1915-1949_, by Lucien Bianco.

[^2]: See "[Grim Future for Wukan
Model](http://www.atimes.com/atimes/China/NA11Ad01.html)," by Willie Lam, for a
thorough summary and analysis of the "Wukan Incident."

[^3]: "[In China, the Grievances Keep
Coming](http://www.nytimes.com/2012/01/02/opinion/in-china-the-grievances-keep-coming.html)"
{% endblock post %}

{% block bio %}
Matthew Turner is a poet and professor of literature. He recently returned to
the U.S. after six years of teaching in Beijing where he also worked as a
journalist and editor for various newspapers and translation outfits. He can be
reached at <a href='mateo.tornero@gmail.com'>mateo.tornero</a>.
{% endblock bio %}
