---
title: Safe Occupation
subtitle: Notes from a student-led experiment in New York
author: Sophie Lewis
organisation: The University of Oxford
description: Following the contentious and short-lived occupation of a study space, Lewis reflects on what makes an occupation truly 'heterotopian', on the basis that the space we claim should, above all, negate the unsafety of the capitalistic ordering.
image: red_crosses.jpg
image_credit: Main photo <a href='http://rachel-eisley.com'>Rachel Eisley</a>
image_licence: © 2011
licence: cc-by-nc-sa
created: !!timestamp 2012-01-20 14:13:00
tags:
    - history
---
{% block post %}
We always hope that 'days of action' will spawn durable structures, and generate
permanent revolution. When something comes of those red-letter days we fashion
into hash-tags -- and this usually means that a building is seized -- any
initial success faces the forces of political inertia and neutralisation.
Sometimes half-baked projects amount to tactical missteps, and one pays for such
errors politically.

November 17th in New York -- or
[N17](http://occupywallst.org/action/november-17th/) -- was widely experienced
as a day of glory. Imagine you are a part of the throng snaking along East 16th
Street and south onto Fifth Avenue. Imagine nearing the TD bank on 14th, and
realising that something very exciting is happening above it, where the glossy
glass-fronted student study centre is situated. A scuffle at the entrance.
Marchers -- not all of them necessarily students -- thronging in and up the
escalator. Police scrambling to prevent entry with plastic blockades. Building
superintendents angrily ejecting insurgents from the freight elevator at the
side-entrance. The main door threatening to split. A cluster of students showing
support for those inside receive baton blows, but banners are already fluttering
out of the second-floor windows: 'Free Space', 'Zuccotti is dead: the virus has
spread'; 'Students and Labor Unite'; 'Labor & Students Take the City Back'. 

 Do you attempt to go in? Then, or hours later -- once the president of the New
 School had 'allowed' the occupiers to proceed -- would you sleep there? If you
 surmounted your inhibitions, your nerves, and the adrenalin-fuelled,
 densely-packed chaos of that moment on the street, if you exited the heavily
 policed universe of the 'public' pavement that was being forcibly 'cleared' of
 human 'obstructions', if you plunged into the promised haven ... what would you
 expect on the inside? What kind of society awaits you there, for your pains?

I was involved in the [occupation of the New School student study centre at 90,
Fifth Avenue](http://allcitystudentoccupation.com/), just off Manhattan's Union
Square. Its regrettable degeneration into unsafety, paranoia, and internal
non-cooperation is the basis for this reflection. This piece did not come
naturally to me. To call for 'safety' seemed to me a pretty conservative
impulse. But 'unsafe' is my main criticism; that is, I'm 'calling' the
occupation on it, as Americans would say. The thinking I had to do to get here
was tricky, and took a little courage, as it was bound up with activities and
individuals I stand behind or crave mutual recognition from. Perhaps my
reservations hinged on the fear of appearing -- precisely -- ''insecure'', in
that prevalent socially Darwinian sense; of appearing 'whiny' or unwilling to
'own' responsibility for my personal wellbeing. Breaking with such
individualistic logic, I am now offering some arguments on feeling secure in a
New York City occupation, that is to say, on creating brave kinds of safety
within heterotopic space, space collectively claimed in order to be transformed
by direct action initiatives like Occupy.  
 
<blockquote class='pull'>
	[...] successful actions of this type are a form of direct domestic ecology insofar
	as they communalize and protect enclosed space, [...]
</blockquote>

Occupations are -- classically -- houses of messy, over-determined contestation.
The mainstream media often brand everyone inside them unwashed, unemployed petty
criminals with inscrutable and thus irrelevant politics. Yet, significantly,
mainstream representations also prop up the view of space-claiming action as
essentially 'virile' -- and threateningly so -- rather than 'feminine', 'safe',
'compassionate'. Thus, many actual participants, who are of course learning as
they go, form their identity off the mirror of 'public opinion', and accordingly
act in ways that seem uncompromised and uncompromising.  In reality, successful
actions of this type are a form of direct domestic ecology insofar as they
communalize and protect enclosed space, domesticating it in the half-forgotten
sense of *oikos*: the public home. This immediately connects occupation as
praxis with sexual difference and the politics of the (inter)personal. It places
a strange set of demands upon those enjoying the dubious privilege of being
stereotyped in the media as 'frightening' to the existing social order: those
able-bodied masked young men who won't 'be reasonable'. To give specifics: I did
not feel safe within the space of occupation on the first night of its
establishment, because my participation in the home-making process was precluded
by undiscussed graffitiing, smoking, vomiting, and sexist jokes from young white
men. I stayed, anyway, and regretted it later. Others would not.

This does not mean that masked men and women are necessarily oiks unable to
create *oikos*: I know many individuals whose embrace of 'black bloc' tactics
(as an example of the disorderly and sinister trope I'm referencing) is a direct
expression of their deep interpersonal sensitivity, their vegan-cupcake-baking
domesticity, their skilful ability to think and emote collectively. I address
myself not to them, but to those who have not understood that where
'frightening' is concerned, less is more. 

To those whose imputed characteristics 'fright' the powers that be, I say, don't
be fooled. True fearsomeness is prefiguring a world without capital in a
non-reactionary way. So, be less 'professional'; 'disobey' less; avoid making
sects; put yourself, but never comrades, at risk. For I believe that insecurity
generated within the space of occupation stems not from true revolution vs.
reform distinctions, but from such people's (almost well-meaning) arrogance. Put
bluntly, it stems from common or garden white male privilege masquerading as
professionalism.  Everyone behaves badly a lot -- if not most -- of the time. We
are trained to. However, most of us experience the bad behaviour of excited
young white middle-class males as oppressive rather than merely 'bad'. This is
important, and [Tools for White
Guys](http://www.starhawk.org/activism/trainer-resources/tools-whiteguys.html)
help. This bad behaviour in particular expressed a shoddy interpretation of the
widely shared desire to resist management-capital as comprehensively as possible
in the form of non-solidarity towards those of us demanding a 'safer space'
agreement. Security, after all, is their word. We, in flaunting them, should
party hard and abolish rules (so runs the reasoning). Consequently, I was one of
the only non-males who slept at Occupied 90 Fifth Avenue on day #1. 

In the subsequent week, some attempts at mediation by perplexed and exhausted
activists still failed to achieve the cohesive commune that might have succeeded
in running and retaining the occupation. As the process disintegrated, we were
forsaken not only by hoped-for allies but attacked by erstwhile supporters in
positions of power. A letter with thirty signatories composed by Andrew Arato, a
faculty member, was published online on colleague [Jeff Goldfarb's
blog](http://www.deliberatelyconsidered.com/2011/12/occupy-new-school/),
condemning ''random violence'' and arguing that the liberal leadership of New
School's President David van Zant ''had provided no conceivable excuse for this
action'' (they meant the occupation as a whole, metonymized by the graffiti-ing
of the study space). MacKenzie Wark, opened his 'Notes on the New School
Occupation' with the pithy sentiment ''These are times when one must dispense
contempt sparingly due to the unseemly number of things that deserve it.'' The
hebetudinous and offensive barricade-graffiti of the nihilist opportunists of
'Occupy the New School' is perhaps best condemned in this manner. Or, perhaps,
one could invoke Slavoj Žižek's double-edged epigram: ''our violence is always
legitimate and never necessary''. (One might even modify this slightly:
''**but** never necessary''.)

<blockquote class='pull'>
 Graffiti and barricades hardly ever constitute violence. But sexism, racism,
 ablism, and certain forms of insurrectionary discourse rooted in class
 privilege really do.
</blockquote>

Graffiti and barricades hardly ever constitute violence. But sexism, racism,
ablism, and certain forms of insurrectionary discourse rooted in class privilege
really do. There is good reason to expect, moreover, that environments
characterised by these give rise to bodily attacks. And, based on the irony I
outlined above, it is sometimes those who believe themselves to be ultra-radical
who embody the domestic threat to other bodies already traditionally
vulnerabilized by capital. Unpicking this often becomes a shouting match about
the place of 'identity politics' within revolutionary struggle. Faced with this
onerous task, people I would call real radicals can sometimes effect
anti-sectarian magic. The role of mediation within Occupy Wall Street has been
documented, for instance, in relation to the [internal dispute concerning
drum-circle revellers](http://www.mediate.com/articles/OccupyandMediation.cfm)
(see also
[Truth-Out](http://www.truth-out.org/making-safer-spaces-occupy-wall-street-addresses-questions-security-zuccotti-park/1320679533)).
Sometimes [documents](http://occupylsx.org/?p=1081) and manifestos arise in
networks in response to experiences of internally generated un-safety. 

The ablest mediators cannot, however, bridge gaps created by violent crimes.
Recently, generalized public unconcern for the rights of the movement as a whole
(following Zuccotti's eviction) gave way to hysteria in the media in response to
OWS [reports of an incident of a rape in the
park](http://occupywallst.org/article/transforming-harm-building-safety/). This
despite (or perhaps because of) its having been extremely thoughtfully handled
by the 'sexual assault survivors' team' which also escorted the victim to a
police station. 

In the New School study centre, no assault of that nature was - thankfully -
reported. Yet a rhetoric of 'divine violence' (and outright rejection of Occupy
Wall Street), emitted by some, amounted to small but meaningful assaults on
others' right to represent the occupation. It didn't matter so much that a few
blokes had [drunkenly and unaesthetically graffiti-ed the
walls](http://www.tumblr.com/tagged/occupy-new-school). It mattered, however,
that the enemy had been internalized. Trans, female, Black, Latin American,
queer, disabled, working-class and older participants in the supposedly 'all
city student' space were feeling indirectly targeted. And as one indignant
African American New School student put it in a general assembly there she had
decided to attend: ''all I see here is white folks trying to tell me what
radical activism consists of. Believe me, I know.''
 
The difference between 'direct action' and 'civil disobedience' hinges on
prefiguration. By offering a glimpse into another world, D.A., unlike C.D., is
capable of destroying the ruling class's sense of security. The former is
frequently the more 'civil' of the two, despite its closer conceptual relation
to violence. In fact, Arendtian civility, which is dialogic and promissory,
forms the very basis of revolutionary politics. Foundationalist
constitutionalist texts like Hannah Arendt's 'On Civil Disobedience' argue that
the acceptable kind of law-breaking (as distinct from 'crime') is explicitly
that which is ''tuned to necessary and desirable preservation or restoration of
the status quo''. But she envisions ''organized minorities that are too
important, not merely in numbers, but in quality of opinion, to be safely
disregarded''. Much can be provoked by that word, "safely''. 

<blockquote class='pull'>
	[...] 'their' phobic security has got to be replaced by an alternate ordering, an
	unbreakable promise to one another, a sense of security that is ours.
</blockquote>

If existing neoliberal market logic is utopian (in the sense implied by
'no-place'), and eu-topian aspirations raised in recent years across the world
(in the sense of 'good-place') are still far from fruition, then hetero-topias
are the bridge between the two, laboratories in which another world becomes
possible. So, when we begin the rehearsals for revolution in our encampments and
occupations, 'their' phobic security has got to be replaced by an alternate
ordering, an unbreakable promise to one another, a sense of security that is
ours.

A kind of permanent revolutionary tension is required to maintain that ordering
to which this 'ours' belongs; and to which we cleave as a 'we'. In our case,
alas, clique formation attributable alone to the 'home team' of privately
educated students succeeded in sinking the collective boat. It had initially
seemed possible that the occupation could be saved from becoming a 'New School
occupation'. No place really existed, at that time, for the diverse constituency
of Occupy Wall Street to assemble. Ideally, to remedy this, occupiers would have
wrested control of the escalator and entrance from the New School management and
the bank. The catch-22 here became the fact that achieving that required serious
support from the whole movement; gaining such support relied upon an open-door
policy and a sense of trust which several union branches were reluctant to give
to what appeared to be a bunch of drunken kids. But indeed, why should you --
comrade, out there, whoever you are -- enter a space that isn't socially secure,
when you are already preparing to take enormous political and material risks
with your body in order to attempt proliferating eu-topia? 

'Security' is not a word I use comfortably, though it was not previously clear
to me why -- beyond its hazy association with the word 'homeland' and with
'anti-terror' legislation. Ultimately, though, to be on some level *se-cure*,
without-care, must be a precondition for equality of participation and action in
concert with others. It cannot, as a concept, be given over to reactionaries,
police commissioners, border vigilantes, and surveillance-fetishists. Ways in
which so-called 'security' issues play out in temporary autonomous zones are
often polarising,  and pin those raising concerns into a camp marked
'self-involved', or 'identity politicians', and those to whom the concerns are
addressed in another marked 'long-suffering true-radical'. 

As I have argued, this false dichotomy stems from a misunderstanding of
'revolutionariness' and amounts to a failure in holding open heterotopia. The
space fails to be different and cannot therefore give birth to eu-topia. The
stress produced by putting ourselves 'at risk' differs wildly -- and for good
reason -- from person to person. The tenor of 'safer spaces agreements'
penetrates only unevenly into the common sense. For some, 'freedom' still spells
individualistic defiance of traditional morality, even within the temporary
autonomous zone. So, which is the way to struggle against asymmetries grown
insuperably visible once the prevalent, however imperfect, ''sense of security''
has been challenged. How do we behave to promote care-free existence, where the
liberal democratic state's panoptic gaze is stymied? 
 
In Kevin Hetherington's book *The Badlands of Modernity*, heterotopias are
alternate (not just 'transgressive') orderings, ''uncertain zones that challenge
our sense of security and perceptions of space as fixed''. But what must also be
considered, then, is whose sense of security, whose perception of space, because
the more ''certain'' zones we inhabit by default are rife with division,
hierarchy and false consciousness. We know that privately owned squares, roads
and buildings, with their insurance policies based on the logic of 'risk
society', turn into supports for public action -- and private life -- when
people pitch their tents there. These supports for action become, in theory,
safe(r) spaces, because the collectivity frames alternate 'commandments' for its
own society. It is frequently said (for instance in David Graeber's *Direct
Action*) that she who has engaged in the collective rush, when bodies in
alliance suddenly take notice of their common sense, gains sudden understanding
of the miraculous ability of mutual acting to re-make space. 

<blockquote class='pull'>
	[...] the radical equality that seems to be produced in mutual acting must be
	repeated, again and again, or else it falters.
</blockquote>

But the radical equality that seems to be produced in mutual acting must be
repeated, again and again, or else it falters. It arises, in part, negatively,
out of opposition uniting all whose bodies provoke the common -- baton-wielding
-- enemy. Even here, vulnerability differentials require attention: arrest is a
more serious matter for Black people. The equality I'm talking about arises
positively, however, when a home can be made, a meeting-place defended, a
people's library stocked, individual traumas soothed, bellies filled, a social
welfare net autonomously woven around the bodies in alliance, in resistance.
Security is nothing if not that equality. Yet the radical equality of the
commons is threatened constantly by consciousness copied from capitalism.
Bearing this in mind, then, shall we try again?

_A form of this article was originally commissioned by Open Democracy for its
Open Security section._
{% endblock post %}

{% block bio %}
Sophie Lewis is one of the conceivers and <a href='/about/'>editors of JOS</a>.
She also blogs independently at <a
	href='http://lasophielle.com'>lasophielle.com</a>.
{% endblock bio %}
