BeautifulSoup==3.2.1
Jinja2==2.10.1
Markdown==2.3.1
PyYAML==3.10
PyHyphen==2.0.5
Pygments==1.6
argparse==1.2.1
django-softhyphen==0.14
hyde==0.8.8
smartypants==1.6.0.3
MarkupSafe==0.18
fswrap==0.1.2
typogrify==2.0.0
wsgiref==0.1.2
