{% extends "base.j2" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ media_url('css/article.css') }}" />
{% endblock css %}
{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ media_url('js/scroll-startstop.events.jquery.js') }}"></script>
<script type="text/javascript" src="{{ media_url('js/jquery.fittext.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
			$('article p').each(function() {
				$(this).addClass('sweet-justice');
			});
			$('article > ol > li, article > ul > li').each(function() {
				$(this).addClass('sweet-justice');
			});
			$(document.documentElement).keydown(function (event) {
				if (event.keyCode == 32 || event.keyCode == 34) {
					// pressed space or pgdn
					$('html,body').animate({	
						scrollTop: $('html,body').scrollTop() + $(window).height() * 0.95
					}, 1000, "easeInOutQuad");
				} else if (event.keyCode == 33) {
					// pressed pgup
					$('html,body').animate({	
						scrollTop: Math.max($('html,body').scrollTop() - $(window).height() * 0.95, 0)
					}, 1000, "easeInOutQuad");
				}
			});
			$(window).bind('scrollstop', function() {
				if ($(window).scrollTop() > $('article p').first().position().top) {
					$('#page-up').fadeIn(1000, "easeInOutQuad");
				} else {
					$('#page-up').fadeOut(1000, "easeInOutQuad");
				}
				if ($(window).scrollTop() > $(document).height() - $(window).height() - $('footer').height()) {
					$('#page-down').fadeOut(1000, "easeInOutQuad");
				} else {
					$('#page-down').fadeIn(1000, "easeInOutQuad");
				}
			});
			$('#page-up a').click(function(event) {
				$('html,body').animate({	
					scrollTop: Math.max($('html,body').scrollTop() - $(window).height() * 0.95, 0)
				}, 1000, "easeInOutQuad");
				event.preventDefault();
			});
			$('#page-down a').click(function(event) {
				$('html,body').animate({	
					scrollTop: $('html,body').scrollTop() + $(window).height() * 0.95
				}, 1000, "easeInOutQuad");
				event.preventDefault();
			});
			$('article header h1').fitText(1.2)
	});
</script>
{% endblock js %}
{% block content %}
<nav id='index'>
<a href='/'>Journal for Occupied Studies</a>
</nav>
<nav id='page-up'>
	<a href='#'>Up &uarr;</a>
</nav>
<nav id='page-down'>
	<a href='#'>Down &darr;</a>
</nav>
<article>
	<nav>
		<ul>
			{% if resource.prev_by_time %}
			<li>
				<a href='/{{ resource.prev_by_time.url }}'>&larr; {{ resource.prev_by_time.meta.title }}</a><br />
				<div>(prev article)</div>
			</li>
			{% endif %}
			{% if resource.next_by_time %}
			<li class='next'>
				<a href='/{{ resource.next_by_time.url }}'>{{ resource.next_by_time.meta.title }} &rarr;</a><br />
				<div>(next article)</div>
			</li>
			{% endif %}
		</ul>
	</nav>
	<header style='background-image: url({{ media_url('img/article/' + resource.meta.image) }});'>
		<h1>{{ resource.meta.title|widont }}</h1>
		{% if resource.meta.subtitle %}
		<h2{% if resource.meta.subtitle|length > 70 %} class='wide'{% endif %}>{{ resource.meta.subtitle }}</h2>
		{% endif %}
		{{ resource.meta.image_licence[0]|pprint }}
		{% if resource.meta.image_licence[0] == '\xa9' %}
		<span id='extra-copyright'>{{ resource.meta.image_credit }} {{ resource.meta.image_licence }}</span>
		{% endif %}
	</header>
	{% if resource.meta.author %}<p class='author'>
		By <a href='#strapline'>{{ resource.meta.author }}</a>, {{ resource.meta.created.strftime('%B %Y') }}
	</p>{% endif %}
	{% filter markdown|typogrify -%}
	{% mark post -%}
	{% block post -%}{%- endblock %}
	{%- endmark %}
	{%- endfilter %}
	{% if not resource.meta.default_block %}<hr /><p id='strapline'> {% if resource.meta.profile_img %}
		<img src='{{ media_url('img/profile/thumb/' + resource.meta.profile_img) }}' id='profile' />{% endif %}
		{% block bio %}{% endblock bio %}
	</p>{% endif %}
	<p class='licence'>
		Article {% if resource.meta.licence == 'cc-by-nc-sa' %}
			<a class='cc-by-nc-sa'
				href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>CC-BY-NC-SA</a>{% else %}
			{{ resource.meta.license }}{% endif %}
		<span class='photo'>{{ resource.meta.image_credit }}{% if resource.meta.image_licence == 'cc-by-nc-sa' %}
			<a class='cc-by-nc-sa'
				href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>CC-BY-NC-SA</a>{% elif resource.meta.image_licence == 'cc-by-nc-nd' %}
			<a class='cc-by-nc-sa'
				href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>CC-BY-NC-SA</a>{% elif resource.meta.image_licence == 'cc-by-nc' %}
			<a class='cc-by-nc'
				href='http://creativecommons.org/licenses/by-nc/3.0/'>CC-BY-NC-SA</a>{% elif resource.meta.image_licence == 'cc-by' %}
			<a class='cc-by'
				href='http://creativecommons.org/licenses/by/3.0/'>CC-BY</a>{% else %}
			{{ resource.meta.image_licence }}{% endif %}</span>
	</p>
</article>
{% endblock content %}
