{% macro render_post_tile(res, class=None) %}
	{% refer to res.url as post %}
	<div class='article {{ ' ' + class if class }}'>
		{% if res.meta.profile_img is defined and res.meta.use_profile %}<img src='{{ media_url('img/article/profile/'+res.meta.profile_img) }}' alt='{{ res.meta.author }}' />
		{% else %}<img src='{{ media_url('img/article/thumb/'+res.meta.image) }}' alt='{{ res.meta.title|e }}' />{% endif %}
		<h3><a href='{{ res.url }}'>{{ res.meta.title|e }}</a></h3>
		<p class='byline'>{{ res.meta.author }}, {{ res.meta.organisation }}</p>
		{{ res.meta.description|markdown|typogrify }}
	</div>
{% endmacro %}
